<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- To Do: take out the file attribute in the line below, and set your own configuration here -->
  <appSettings file="../../AppMyOwn.config">
    <add key="baseApiUrl" value="https://developer.api.autodesk.com/"/>
    <add key="clientID" value=""/>
    <add key="clientSecret" value=""/>
    <add key="bucketKey" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <!-- httpRuntime targetFramework="4.5" /-->
    <!-- increased maxRequestLength. default is 4096. -->
    <httpRuntime targetFramework="4.5" maxRequestLength="131072"/>
  </system.web>
</configuration>